/* header part start */
.logo{
    font-weight: bold;
    font-size: 7px;
    font-family: 'Arial Narrow Bold', sans-serif
}
.img-logo{
    width: 67px;
}
.parent{
    display: flex;
   justify-content: space-around;
   background-color: #83a4a6cf;
   padding: 3px;
   align-items: center;
}
li{
    list-style: none;
    /* border: 1px solid gold; */
    padding: 3px 10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    letter-spacing: 1px;
}
li:hover{
    background-color: chocolate;
}
li a{
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: bold;
}
.menus{
    display: flex;
    gap: 15px;
    
}
.header-parent{
    display: flex;
    height: 87vh;
    justify-content: space-around;
    align-items: center;
    background-color: #f0ccd35f;
    padding:0px 130px;
}
/* .header-child-1{
    border: 1px solid black;
    /* width: 50%; */


.img{
     width: 111%;
  
     
.logo{
    font-weight: bold;
    font-size: 27px;
    font-family: 'Arial Narrow Bold', sans-serif
}
.parent{
    display: flex;
   justify-content: space-around;
   background-color: rgba(59, 46, 46, 0.5);
   padding: 20px;
   align-items: center;
}
li{
    list-style: none;
    /* border: 1px solid gold; */
    padding: 3px 15px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
 
}
li:hover{
    background-color:#E55473;
}
li a{
    text-decoration: none;
    color: white;
    font-style: italic;
}
.menus{
    display: flex;
    gap: 15px;
    
}
     height: 115%;
     margin-top: 25%;
    /* position: fixed; */
}
.heding{
    font-size: 50px;
}
.desp{
    width: 70%;
    color: gray;
}
.btn{
    padding: 10px 18px;
    border-radius: 6px;
    background-color: #E55473;
    color: white;
    border: none;
    font-size: 12px;
    margin-top: 8px;
}
/* header part end */
/* main part start */
.main-parent-one{
    text-align: center;
    margin-top: 20px;
    padding-top: 25px;
}
.desp2{
    color: gray;
    font-size: 14px;
}
.main-img-parent{
 display: flex;
 justify-content: space-between;
 padding:50px 5px;
 margin-left: 13%;
 width: 70%;
 margin-top: 20px;
}
.img1{
    width: 200px;
    /* margin-top: 25px; */
  
}
.img2{
margin-top: 75px;
}
.img3{
margin-top: 50px;

}
.img4{
    width: 213px;
}
.main-img-child1{
    display: flex;
    height: 350px;
    align-items: center;
    width: 280px;
    padding-left: 60px;
    border-top-right-radius: 90%;
    border-top-left-radius: 90%;
    background-color: #f5c4dcb0;
   
   
}
.main-img-child2{
    display: flex;
    height: 350px;
    align-items: center;
    width: 280px;
    padding-left: 60px;
    border-top-right-radius: 90%;
    border-top-left-radius: 90%;
    background-color: #9bc6c8c8;
   
   
}
.main-img-child3{
    display: flex;
    height: 350px;
    align-items: center;
    width: 280px;
    padding-left: 60px;
    border-top-right-radius: 90%;
    border-top-left-radius: 90%;
    background-color: #cde0bca5;
   
   
}
.img-name-parent{
    display: flex;
    margin-top: -50px;
    justify-content: space-around;
  

   
}
.img-nam-hading1{
    margin-left: 8%;
}
.img-nam-hading2{
    margin-left: -8%;
}
.img-nam-hading3{
    margin-right: 12%;
}

/* main part end */
/* rose part start */
.rose-parent{
    display: flex;
    justify-content: space-around;
    padding: 40px 258px;
    height: 40vh;
    background-color: #f4d9dee6;
    align-items: center;
}
.rose{
    width: 200px;
}
.rese-heading{
    font-size: 30px;
}
.span{
    color: #E55473ed;
}
/* rose section end */
/* Instagram section start */
.instagram{

    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}
.instagram-parent{
    display: flex;
    padding: 40px ;
    /* margin-left: */
    justify-content: center;
    gap: 20px;
}
.instagram-image{
    width: 220px;
    
}
/* Instagram section ends */
/* Subcribe section start */
.subcribe-parent{
 
   background-image: url('Flower\ Asset/Rectangle 9.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    padding: 40px;
    width: 865px;
   margin-left: 280px;
   /* margin-top: 40px; */
}
.subcribe{
    text-align: center;
  
}
input{
    padding:9px 14px;
    width: 400px;
    border-radius: 5px;
    border: none;
   
}
.emil{
    margin-left: 200px;
}
/* Subcribe section ends */
/* footer section start */
.footer{
    /* display: flex; */
    text-align: center;
    background-color: black;
    height: 170px;
    padding: 40px;
    
}
.footer-desp{
    color: white;
}
.small{
    color: gray;
    font-size: 10px;
}
.white{
    color: white;
}
.footer-desp{
    font-size: 12px;
}
/* footer section ends */